.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
  .list{
    display: inline-block;
    vertical-align: middle;
    padding-top: 1vw;
  }
  .list1{
    padding: 1vw;
    font-size: 18px;
    list-style-type: none;
    display: inline;
  }
  .form{
    margin-left: 10%;
  }
  .list1>a{
    font-family: "DejaVu Sans" ;
    font-size: 18px;
    color: lavender;
  }
  .locations>a{
    display: block;
  }
  .services1>a{
    display: block;
  }
  .list>.list1:hover a{

    color: lavender;
    text-decoration: none;
    text-shadow: 2px 2px 7px white ,2px 2px 9px antiquewhite ;
  }
  .image2{

    background-image: url("images/OIH9JQ0.jpg");
    background-repeat:no-repeat;
    opacity: 0.5;
    padding-top: 12%;
    padding-bottom:12%;
    object-fit: contain;
    background-color:rgba(0,0,0,0.7) ;
    background-size: cover;
    background-position: center;

  }
  body {
    font-family: 'Lato', sans-serif,-apple-system, BlinkMacSystemFont,roboto,Arial, Helvetica, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .image img{

     transform:scale(1,1);
     -ms-transform: scale(1,1);
     opacity: 1;
     transition-timing-function: ease-in-out;
     transition-duration: 1s;
     transition: 0.5s all linear;
  }
  .box:hover .image img{
    opacity: .3;
    transform: scale(1.3, 1.1);
  }
  .image{
     background-color:#00203FFF ;
  }
  .aboutcla{
    padding-top: 12%;
  }

  @media  only screen and (max-width: 680px) {
    .navbar{
        display:none;
      }
      .button{
        display: block;
        float: right;
      }
      .smallnav{
        position:top;
        z-index: 1;
      }
      .form{
        margin-left: 0.5%;
      }
    .locations>a{
  display: inline-block;
  padding-right: 10px;
}
.services1>a{
  display: inline-block;
  padding-right: 8px;
}
.image2{
    padding-top:30% ;
      padding-bottom: 30%;
      background-position: center;
      background-size: cover;
}.aboutcla{
    padding-top: 25%;
 }
  }
    @media  only screen and (min-width: 680px) {
        .smallnav{
          display: none;
        }
      }
